html {
  height: 100vh;
}

html body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: solid 1px;
  justify-content: space-evenly;
}

#player-area {
  border: solid 1px;
  height: 33%;
  width: 100vw;
}

#trade-area {
  border: solid 1px;
  height: 33%;
  width: 100vw;
  display: flex;
}

#explorers {
  border: solid 1px;
  width: 12.5%;
  height: 100%;
}

#trade-row {
  border: solid 1px;
  width: 62.5%;
  height: 100%;
  display: flex;
}

#trade-deck {
  border: solid 1px;
  width: 12.5%;
  height: 100%;
}

#scrap-heap {
  border: solid 1px;
  width: 12.5%;
  height: 100%;
}




