html {
  height: 100vh;
}

html body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: solid 1px;
  justify-content: space-evenly;
}

#player-area {
  border: solid 1px;
  height: 33%;
  width: 100vw;
}

#trade-area {
  border: solid 1px;
  height: 33%;
  width: 100vw;
}
